
@{
    ViewBag.Title = "DangNhapNVKT";
    Layout = "~/Views/Shared/DangNhap-DangKiLayout.cshtml";
    <style>
        h5 {
            margin-top: 50px;
            text-align: center;
            margin-bottom: 30px;
        }

        .area {
            border: 2px solid;
            width: 500px;
            margin: auto;
        }

        .ip-sdt {
            margin-top: 20px;
            width: 340px
        }

        .ip-password {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 370px
        }

        .area label {
            margin-left: 20px;
        }

        .button {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
}
<h5>ĐĂNG NHẬP</h5>
<div class="area">
    <label>Số điện thoại</label>
    <input class="ip-sdt" type="text" /> <br />

    <label>Mật khẩu</label>
    <input class="ip-password" type="password" /> <br />

    <div class="button">
        <button type="button">Đăng nhập</button>
    </div>
</div>

