
@{
    ViewBag.Title = "ChuyennhuongsotietkiemKH";
    Layout = "~/Views/Shared/KhachHangLayout.cshtml";
    <style>
        .min-content {
            margin-left: 50px;
            margin-right: 50px;
        }

        .title {
            margin-top: 20px;
            margin-bottom: 50px;
            text-align: center;
        }

        .ip-nhap {
            width: 200px;
            margin-top: 20px;
        }

        .button {
            margin-top: 30px;
            text-align: center;
        }

        .rdo-dongy {
            margin-left: 20px;
        }

        .sl-loainganhang {
            width: 720px;
        }

        .ip-date {
            margin-top: 20px;
            margin-bottom: 20px
        }
    </style>
}

<div class="min-content">
    <h5 class="title">Chuyển nhượng sổ tiết kiệm</h5>
    <div class="nhap">
        <label>Tôi là: </label>
        <input class="ip-nhap" type="text" />
        <label>Sinh ngày: </label>
        <input class="ip-nhap" type="text" />
        <label>CCCD/CMND: </label>
        <input class="ip-nhap" type="text" /><br />
        <label>Cấp ngày: </label>
        <input class="ip-nhap" type="text" />
        <label>Hộ khẩu thường trú: </label>
        <input class="ip-nhap" type="text" /><br /><br />
        <b>Nay tôi muốn chuyển nhượng sổ tiết kiệm của mình</b><br />
        <label>Số tài khoản</label>
        <input class="ip-nhap" type="text" />
        <label>Tại ngân hàng ACB,phát hành ngày</label>
        <input class="ip-nhap" type="text" /><br />
        <label>Ngày đến hạn</label>
        <input class="ip-nhap" type="text" />
        <label>Với số tiền</label>
        <input class="ip-nhap" type="text" /><label>VN</label><br />
        <label>Bằng chữ</label>
        <input class="ip-nhap" type="text" /><br /><br />
        <b>Cho</b>
        <label>Ông bà: </label>
        <input class="ip-nhap" type="text" />
        <label>Sinh ngày: </label>
        <input class="ip-nhap" type="text" />
        <label>CCCD/CMND: </label>
        <input class="ip-nhap" type="text" /><br />
        <label>Cấp ngày: </label>
        <input class="ip-nhap" type="text" />
        <label>Hộ khẩu thường trú: </label>
        <input class="ip-nhap" type="text" /><br />
        <label>Ngày chuyển nhượng</label>
        <input class="ip-date" type="date" />
        <input class="rdo-dongy" type="radio" value="đồng ý" />Tôi đồng ý chuyển nhượng sổ tiết kiệm
    </div>
    <div class="button">
        <button type="button">Lưu</button>
        <button type="button">Hủy</button>
    </div>
</div>

