
@{
    ViewBag.Title = "Danhsachsotietkiem";
    Layout = "~/Views/Shared/KhachHangLayout.cshtml";
    <style>
        .min-content {
            margin-left: 50px;
            margin-right: 50px;
        }

        .title {
            margin-top: 20px;
            margin-bottom: 50px;
            text-align: center;
        }

        .ip-nhap {
            width: 200px;
            margin-top: 20px;
        }

        .button {
            margin-top: 30px;
            text-align: right;
        }

        .area {
            border: 2px solid;
            width: 900px;
            margin: auto;
        }
    </style>
}

<div class="min-content">
    <h5 class="title">Danh sách sổ tiết kiệm</h5>
    <div class="area">
        <p>
            1234567891 &emsp;&emsp;&emsp;&emsp;&emsp; Sổ tiết kiệm có kì hạn &emsp;&emsp;&emsp;&emsp;&emsp; 12 tháng &emsp;&emsp;&emsp;&emsp;&emsp;
            <div class="button">
                <button type="button">Xem thông tin</button>
                <button type="button">Khóa sổ</button>
            </div>
        </p>
    </div><br />
    <div class="area">
        <p>
            1234567892 &emsp;&emsp;&emsp;&emsp;&emsp; Sổ tiết kiệm Đại Lộc &emsp;&emsp;&emsp;&emsp;&emsp; 12 tháng &emsp;&emsp;&emsp;&emsp;&emsp;
            <div class="button">
                <button type="button">Xem thông tin</button>
                <button type="button">Khóa sổ</button>
            </div>
        </p>
    </div><br />
    <div class="area">
        <p>
            1234567893 &emsp;&emsp;&emsp;&emsp;&emsp; Sổ tiết kiệm có kì hạn &emsp;&emsp;&emsp;&emsp;&emsp; 12 tháng &emsp;&emsp;&emsp;&emsp;&emsp;
            <div class="button">
                <button type="button">Xem thông tin</button>
                <button type="button">Khóa sổ</button>
            </div>
        </p>
    </div>

</div>


