
@{
    ViewBag.Title = "ThaydoimatkhauKH";
    Layout = "~/Views/Shared/KhachHangLayout.cshtml";
    <style>
        .min-content {
            margin-left: 50px;
            margin-right: 50px;
        }

        .title {
            margin-top: 20px;
            margin-bottom: 50px;
            text-align: center;
        }

        .ip-nhap {
            width: 400px;
            margin-top: 20px;
        }

        .button {
            margin-top: 30px;
            text-align: center;
        }
    </style>
    }
    <div class="min-content">
        <h5 class="title">Thay đổi mật khẩu</h5>
        <div class="nhap">
            <label>Nhập mật khẩu cũ: </label>
            <input class="ip-nhap" type="text" /><br />
            <label>Nhập mật khẩu mới: </label>
            <input class="ip-nhap" type="text" /><br />
            <label>Nhập lại mật khẩu: </label>
            <input class="ip-nhap" type="text" /><br />

        </div>
        <div class="button">
            <button type="button">Đổi mật khẩu</button>
            <button type="button">Hủy</button>
        </div>
    </div>

